/* Start Common */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
.container-principal{
  width: 80%;
  margin: auto;
  height: 100%;
}
/* End Common */

/* Start Header */
header{
  margin-bottom: 30px;
}
.logo img{
  width: 15%;
  margin-bottom: 20px;
}
.navigation-bar li{
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
.navigation-bar li a{
  text-decoration: none;
  text-transform: uppercase;
  color: gray;
  font-size: 1em;
}
/* End Header */

/* Start Banner */
.overlay-brown{
  height: 100%;
  width: 100%;
  background-color: rgba(117, 91, 82, 0.418);
  position: absolute;
  border-radius: 10px;
  z-index: 1;
}
.first-container{
  margin-bottom: 30px;
  height: 450px;
  position: relative;
}
.first-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  position: absolute;
}
.text{
  width: 40%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 40px;
  margin-bottom: 60px;
  color: #fff;
  z-index: 2;
}
/* End Banner */

/* Start Title Container */
.second-container{
  margin-bottom: 200px;
}
.title-content h1{
  font-size: 2.5em;
}
.title-content span{
  color: gray;
}
/* End Title Container */

/* Start Content Sx */
.overlay-gray{
  background-color: rgba(92, 92, 92, 0.144);
  position: absolute;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  z-index: 1;
}
.small-image img{
  width: 100%;
  height: 200px;
  position: relative;
  z-index: 0;
  object-fit: cover;
}
.box-sx , .box-dx{
  height: 100%;
  position: relative;
  margin-top: 40px;
  width: 20%;
}
.text-content h3{
  margin: 15px 0;
}
.center{
  margin-left: 2.5%;
  width: 50%;
}
.second-container:after {
  content: "";
  clear: both;
  display: table;
}

footer{
  height: 50px;
  background-color: rgb(125, 8, 255);
  margin-bottom: 3%;
}
