/* Start Common */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
.container-principal{
  width: 80%;
  margin: auto;
  height: 100%;
}

.second-container{
  width: 100%;
  color: gray;
}
h3{
  color: #000;
}
/* End Common */

/* Start Header */
header{
  margin-bottom: 30px;
}
.logo img{
  width: 15%;
  margin-bottom: 20px;
}
.navigation-bar li{
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
.navigation-bar li a{
  text-decoration: none;
  text-transform: uppercase;
  color: gray;
  font-size: 1em;
}
/* End Header */

/* Start Banner */
.overlay-brown{
  height: 100%;
  width: 100%;
  background-color: rgba(117, 91, 82, 0.418);
  position: absolute;
  border-radius: 10px;
  z-index: 1;
}
.first-container{
  margin-bottom: 30px;
  height: 450px;
  position: relative;
}
.first-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  position: absolute;
}
.text{
  width: 40%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 40px;
  margin-bottom: 60px;
  color: #fff;
  z-index: 2;
}
/* End Banner */

/* Start Title Container */
.title-content h1{
  font-size: 2.5em;
  color: #000;
}
.title-content span{
  color: gray;
}
/* End Title Container */

/* Start Content Sx and Dx */
.overlay-gray{
  background-color: rgba(92, 92, 92, 0.144);
  position: absolute;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  z-index: 1;
}
.small-image img{
  width: 100%;
  height: 200px;
  position: relative;
  z-index: 0;
  object-fit: cover;
}
.box-sx , .box-dx{
  height: 100%;
  position: relative;
  margin-top: 40px;
  width: 20%;
  float: left;
}
.text-content h3{
  margin: 15px 0;
}
/* End Content Sx and Dx*/

/* Start Content center */
.box-center{
  margin-left: 2.5%;
  width: 55%;
  float: left;
  margin-top: 40px;
  margin-right: 2.5%;
}
.medium-image img{
  width: 100%;
  object-fit: cover;
  height: 200px;
}
.medium-image{
  width: 100%;
  position: relative;
}
.overlay-gray-middle{
  background-color: rgba(92, 92, 92, 0.144);
  position: absolute;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  z-index: 1;
}
.second-container:after {
  content: "";
  clear: both;
  display: table;
}
/* End Content Center */

/* Start Footer */
footer{
    margin-top: 40px;
    text-align: center;
}
footer span:after{
  content: "\2665";
  color: red;
  font-size: 20px;
}
/* End Footer */
