/* Start Common */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
.container-principal{
  width: 80%;
  margin: auto;
  height: 100%;
}
/* End Common */

/* Start Header */
header{
  margin-bottom: 30px;
}
.logo img{
  width: 15%;
  margin-bottom: 20px;
}
.navigation-bar li{
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
.navigation-bar li a{
  text-decoration: none;
  text-transform: uppercase;
  color: gray;
  font-size: 1em;
}
/* End Header */

/* Start Main */
.overlay-brown{
  background-color: rgba(155, 141, 136, 0.418);
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 10px;
  z-index: 1;
}
.first-container{
  margin-bottom: 30px;
  height: 450px;
  position: relative;
}
.first-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  position: absolute;
}
.text{
  width: 40%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 40px;
  margin-bottom: 60px;
  color: #fff;
  z-index: 2;

}
.second-container{
  height: 600px;
  background-color: rgb(0, 123, 255); 
  margin-bottom: 1%;
}
.title-content{
  height: 15%;
  background-color: rgb(161, 201, 227);
}
.sx , .center, .dx{
  height: 98%;
  background-color: rgb(161, 201, 227);
}
.sx, .dx{
  width: 20%;
}
.sx, .center{
  float: left;
}
.center{
  margin-left: 2.5%;
  width: 55%;
}
.dx{
  float: right;
}
.content{
  margin-top: 2%;
}
.container:after {
  content: "";
  clear: both;
  display: table;
}
.container{
  height: 80%;
}
footer{
  height: 50px;
  background-color: rgb(125, 8, 255);
  margin-bottom: 3%;
}
